<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/main">
    <include path="~/assets/css/main.css" />
  </styleBundle>
  <styleBundle path="~/Content/search">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/daterangepicker.min.css" />
    <include path="~/assets/css/bootstrap-slider.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />
    <include path="~/assets/css/responsive.css" />
    <include path="~/assets/css/media.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-daterangepicker.css" />
    <include path="~/assets/css/home-ext.css" />
    <include path="~/assets/css/search-custom.css" />
    <include path="~/assets/css/search-custom.responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>
  <styleBundle path="~/Content/product">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/bootstrap-datepicker3.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/media.css" />
    <include path="~/assets/css/Hotel-overlay.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/owl.theme.css" />
    <include path="~/assets/css/owl.transitions.css" />

    <include path="~/assets/js/toggles/css/toggles.css" />
    <include path="~/assets/js/toggles/css/toggles-full.css" />
    <include path="~/assets/css/bootstrap-slider.min.css" />

    <include path="~/assets/css/book01-ext.css" />
    <include path="~/assets/css/hotel-custom.css" />
    <include path="~/assets/css/hotel-custom.responsive.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/custom-datepicker.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>
  <styleBundle path="~/Content/reviews">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/reviews.css" />
    <include path="~/assets/css/auth.css" />
  </styleBundle>
  <styleBundle path="~/Content/membership">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/membership.css" />
    <include path="~/assets/css/auth.css" />
  </styleBundle>
  <styleBundle path="~/Content/book">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/bootstrap-datepicker3.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/media.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/owl.theme.css" />
    <include path="~/assets/css/owl.transitions.css" />

    <include path="~/assets/css/book-now-ext.css" />
    <include path="~/assets/css/book-custom.css" />
    <include path="~/assets/css/custom.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/custom-datepicker.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>
  <styleBundle path="~/Content/confirm">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/owl.carousel.css" />

    <include path="~/assets/css/book-now-ext.css" />
    <include path="~/assets/css/book-custom.css" />
    <include path="~/assets/css/custom.css" />
    <include path="~/assets/css/confirm.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>
  <styleBundle path="~/Content/confirmgiftcard">
    <include path="~/assets/css/confirmgiftcard.css" />
  </styleBundle>
  <styleBundle path="~/Content/daypass">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/addtohomescreen.css" />
    <include path="~/assets/css/bootstrap-datepicker3.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/atc-style-blue.css" />

    <include path="~/assets/css/confirm.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/custom-datepicker.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>
  <styleBundle path="~/Content/default">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/owl.theme.css" />
    <include path="~/assets/css/owl.transitions.css" />
    
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/default.css" />
    <include path="~/assets/css/default-responsive.css" />
    <include path="~/assets/css/newsletter.css" />
  </styleBundle>

  <styleBundle path="~/Content/client">
    <include path="~/assets/css/client.css" />
    <include path="~/assets/css/client-responsive.css" />
  </styleBundle>
  <styleBundle path="~/Content/credit">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />
    
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/credit.css" />
    <include path="~/assets/css/credit-responsive.css" />
  </styleBundle>

  <styleBundle path="~/Content/booksubscription">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/bootstrap-datepicker3.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/media.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/owl.theme.css" />
    <include path="~/assets/css/owl.transitions.css" />

    <include path="~/assets/css/book-now-ext.css" />
    <include path="~/assets/css/book-custom.css" />
    <include path="~/assets/css/custom.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/bookSubscription.css" />
  </styleBundle>

  <styleBundle path="~/Content/bookgiftcard">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/bootstrap-datepicker3.min.css" />
    <include path="~/assets/css/reset.css" />
    <include path="~/assets/css/reset2.css" />

    <include path="~/assets/css/media.css" />

    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/owl.theme.css" />
    <include path="~/assets/css/owl.transitions.css" />

    <include path="~/assets/css/book-now-ext.css" />
    <include path="~/assets/css/book-custom.css" />
    <include path="~/assets/css/custom.css" />
    <include path="~/assets/css/header-footer.css" />
    <include path="~/assets/css/header-footer.responsive.css" />
    <include path="~/assets/css/custom-responsive.css" />
    <include path="~/assets/css/auth.css" />
    <include path="~/assets/css/custom-datepicker.css" />
    <include path="~/assets/css/bookgiftcard.css" />
  </styleBundle>
</bundles>