<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <trust level="Full" originUrl="" />
    <customErrors defaultRedirect="~/ErrorPages/conf-error.aspx" mode="Off">
      <!--bad request: use processing error template-->
      <error statusCode="400" redirect="~/ErrorPages/conf-error.aspx" />
      <!--unauthorized: unauthorized page template-->
      <error statusCode="401" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--forbidden: use unauthorized template-->
      <error statusCode="403" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--not found: resource not found template-->
      <error redirect="~/ErrorPages/resource-not-found.aspx" statusCode="404" />
      <!--internal server error: processing error template-->
      <error statusCode="500" redirect="~/ErrorPages/conf-error.aspx" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5.2" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <!--<sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=184.168.146.232;Initial Catalog=DayaxeCache;User Id=user;Password=password~;" timeout="1440" />-->
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=(local);Initial Catalog=DayaxeCache;User Id=user;Password=password;" timeout="1440" />
    <machineKey validationKey="87851CF1DD5686B441BDBDC277599A7E8A98EBBBC6AD3001F8584D42A646CE6BB90D383491210C17BFC1C9F6283B3101EC784CE02345595E01C2E8BFCD97E134" decryptionKey="EB5E3E0F9407A71F59966F43036A849B5C6AE711EDDF3241A0CF90E3305D26E6" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
      <remove name="Session" />

      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <defaultDocument enabled="false">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
      <!-- 7 day -->
    </staticContent>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="400" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx"/>
      <error statusCode="403" responseMode="Redirect" path="~/ErrorPages/unauthorized.aspx"/>
      <error statusCode="404" responseMode="Redirect" path="~/ErrorPages/resource-not-found.aspx"/>
      <error statusCode="500" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx"/>
    </httpErrors>-->
  </system.webServer>
  <connectionStrings>
    <!--<add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=184.168.146.232;Initial Catalog=db_dayaxeprod;User Id=user;Password=password" />-->
    <!--<add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=184.168.146.232;Initial Catalog=db_dayaxestage;User Id=user;Password=password" />-->
    <add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=db_dayaxestage;User Id=user;Password=password;" />
    <!--<add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=db_dayaxeprod;User Id=user;Password=password;" />-->
  </connectionStrings>
  <appSettings>
    <!-- stage -->
    <add key="mixpanel" value="bd9c516c438393abfb29f399f641f12f" />
    <add key="facebook" value="" />
    <add key="google" value="" />
    <add key="stripeApiKey" value="" />
    <add key="stripePublishableKey" value="" />
    <add key="defaultImageUrlSendEmail" value="https://stage.dayaxe.com" />
    <add key="defaultSendFromEmail" value="support@dayaxe.com" />
    <add key="defaultSendSurveyEmail" value="team@dayaxe.com" />
    <add key="restrictBookingSameDayAtHour" value="19:00" />
    <add key="isStageSite" value="false" />
    <add key="landingPageSubscription" value="http://l.dayaxe.com/goldpass" />

    <!-- enable mixpanel -->
    <add key="enableMixpanel" value="false" />
    <add key="clientUrlDefault" value="http://localhost:8083" />
    <add key="adminUrlDefault" value="http://localhost:8084" />
    <add key="cdnImageUrlDefault" value="http://localhost:8083" />
    <add key="klaviyoApiKey" value="" />
    <add key="klaviyoPrivateApiKey" value="" />
    <add key="klaviyoListId" value="" />
    <add key="klaviyoWaittingListId" value="" />
    <add key="klaviyoNewsletterListId" value="" />

    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="reserveSubscriptionPassInHours" value="24" />
    <add key="maxReserveSubscriptionPass" value="1" />
    <add key="enableTracking" value="false" />

    <!--<add key="forPartnerLink" value="http://hotels.dayaxe.com/signup" />-->
    <add key="forPartnerLink" value="http://hotels.dayaxe.com/signup" />
    <!--<add key="hostLink" value="https://h.dayaxe.com" />-->
    <add key="hostLink" value="https://hstage.dayaxe.com" />
    <add key="maxRadius" value="150" />

    <add key="TaxjarApiKey" value="" />
    <add key="cloudinaryApiSecret" value="Si2Q2D3dxjqgya-Rl7-lZ0cy99Q" />
    <add key="cloudinaryApiKey" value="385557456569739" />
    <add key="cloudinaryApiBaseUrl" value="https://api.cloudinary.com/v1_1/vietluyen" />

    <add key="promoCodeUpgrade" value="MFREESB18"/>
    <add key="subscriptionUpgradeId" value="1"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SendGrid.CSharp.HTTP.Client" publicKeyToken="79219bf4e5ecaaca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>