*/obj/*
*.vs*
*.user
*.vssscc
*.DotSettings
*.vspscc
/DayaxeDal/bin/*
/h.dayaxe.com/Web.config
/dayaxe.com/Web.config
#*.DS_Store
#/dayaxe.sendemail/bin/*
#/CustomNestedConfigSection/bin/*
#/Dayaxe.Console/bin/*
/Dayaxe.Schedule/bin/*
*.pdb
#/Dayaxe.Console/bin/Debug/Google.Apis.*
/Dayaxe.Schedule/App.config
/dayaxe.com/Bin/
#/h.dayaxe.com/bin/
/packages/*
#dayaxedata/*
#DB/*
#h.dayaxe.com/App_Data/
#h.dayaxe.com/HotelImage/
#dayaxe.com/content/
#h.dayaxe.com/Helper/
PrecompiledWeb/
