<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/main">
    <include path="~/Content/normalize.css" />
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/star-rating.min.css" />
    <include path="~/Content/fileinput.min.css" />
    <include path="~/Scripts/plugins/toggles/css/toggles.css" />
    <include path="~/Scripts/plugins/toggles/css/toggles-full.css" />
    <include path="~/Content/Custom.css" />
    <include path="~/Content/hotellist.css" />
  </styleBundle>
  <styleBundle path="~/Content/bookingdetail">
    <include path="~/Content/bootstrap-datepicker3.min.css" />
    <include path="~/Content/bootstrap-datetimepicker.css" />
  </styleBundle>
  <styleBundle path="~/Content/calendar">
    <include path="~/Content/bootstrap-datepicker3.css" />
    <include path="~/Content/calendarPage.css" />
  </styleBundle>
</bundles>