<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=db_dayaxeprod;User Id=user;Password=pass;" />
  </connectionStrings>
  <appSettings>
    <add key="DayaxeClientUrl" value="http://dayaxe.loc" />
    <!-- 0.3 is mean 30%-->
    <add key="DayAxeFee" value="0.3" />
    <add key="AvgRevenuePerPass" value="100" />
    <add key="MininumItemToCalculateRevenue" value="2" />

    <add key="defaultImageUrlSendEmail" value="http://dayaxe.loc" />
    <add key="defaultSendSurveyEmail" value="team@dayaxe.com" />
    <add key="sendEmailSurveyAfterMinutes" value="0" />
    <add key="cdnImageUrlDefault" value="https://cdn.dayaxe.com" />

    <add key="stripeApiKey" value="" />
    <add key="stripePublishableKey" value="" />

    <add key="klaviyoApiKey" value="" />
    <add key="googleApiKey" value="" />

    <add key="cloudinaryApiSecret" value="Si2Q2D3dxjqgya-Rl7-lZ0cy99Q" />
    <add key="cloudinaryApiKey" value="385557456569739" />
    <add key="cloudinaryApiBaseUrl" value="https://api.cloudinary.com/v1_1/vietluyen" />

    <add key="sendgridApiKey" value="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" />
    <add key="sendgridEmailNewAccount" value="dd8c7dd4-8b97-4f1a-947b-80d92a849047" />
    <add key="sendgridEmailBookingConfirmation" value="3b72904b-d8a3-4742-830e-acc6ed96a949" />
    <add key="sendgridEmailBookingconfirmationOfHotel" value="c97780bf-0732-43f3-a18b-7e493bfc6f1e" />
    <add key="sendgridEmailBookingAlertOfHotel" value="536ce054-908f-4ec4-9548-85cc96980f25" />
    <add key="sendgridEmailPostPurchaseSurvey" value="b6891dc0-bd04-4996-9647-214552fb9d80" />
    <add key="sendgridEmailPasswordRecovery" value="739dc30e-88cf-4029-bfc7-76dd796ca674" />
    <add key="sendgridEmailPasswordCreated" value="e5c9f810-2528-459b-bf5a-d0600ac61df3" />
    <add key="sendgridEmailRefund" value="d3a8443d-4be2-4ae9-abc3-32612a2ded14" />
    <add key="sendgridCheckInReminder" value="8499e14e-0e22-4b3f-9638-02de069b00c1" />
    <add key="sendgridAvailableAddOn" value="8cf35f89-3e98-41bc-901b-f6d0a180310d" />
    <add key="sendgridAvailableAddOnRedemption" value="75a08a4e-1e76-481f-866e-daf1efb41c14" />
    <add key="sendgridTicketOpenedUp" value="f09ecf37-82d3-408b-adfc-b44821e18e5c" />
    <add key="sendgridSendNotifiedSurveyHotel" value="4d24e61c-b395-471b-8bdd-ad1e03ab476d" />
    <add key="sendgridSendNotifiedSurvey" value="26e5d45c-b170-45a7-9262-4f77f9a4b8fc" />
    <add key="sendgridHotelReportMonthlySummary" value="782cac08-85ad-4b06-b3ee-e4af79fa943b" />
    <add key="sendgridEmailSubscriptionConfirmation" value="25831a43-8a81-42d9-9805-7e6d1a5476b7" />
    <add key="sendgridEmailGoldPassNoShow" value="22c4e7d4-4683-46f5-8bb7-c42b5a16b02a" />
    <add key="sendgridEmailSubscriptionCancellation" value="d7e13a5f-74ca-4bae-a252-168f1c748e42" />
    <add key="sendgridEmaileGiftCardConfirmation" value="59b1595a-5d1f-498b-acde-3a5dc091407c" />
    <add key="sendgridEmaileGiftCardDelivery" value="ea5ffff9-a3e5-496e-9431-17c035575cc0" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.5.2" batch="false">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440" />
    <machineKey validationKey="87851CF1DD5686B441BDBDC277599A7E8A98EBBBC6AD3001F8584D42A646CE6BB90D383491210C17BFC1C9F6283B3101EC784CE02345595E01C2E8BFCD97E134" decryptionKey="EB5E3E0F9407A71F59966F43036A849B5C6AE711EDDF3241A0CF90E3305D26E6" validation="SHA1" decryption="AES" />
    <customErrors defaultRedirect="~/ErrorPages/conf-error.aspx" mode="Off">
      <!--bad request: use processing error template-->
      <error statusCode="400" redirect="~/ErrorPages/conf-error.aspx" />
      <!--unauthorized: unauthorized page template-->
      <error statusCode="401" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--forbidden: use unauthorized template-->
      <error statusCode="403" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--not found: resource not found template-->
      <error redirect="~/ErrorPages/resource-not-found.aspx" statusCode="404" />
      <!--internal server error: processing error template-->
      <error statusCode="500" redirect="~/ErrorPages/conf-error.aspx" />
    </customErrors>
    <trust level="Full" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <pages enableSessionState="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <defaultDocument enabled="false">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" />
      <remove statusCode="401" />
      <remove statusCode="403" />
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="400" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx" />
      <error statusCode="401" responseMode="Redirect" path="~/ErrorPages/unauthorized.aspx" />
      <error statusCode="403" responseMode="Redirect" path="~/ErrorPages/unauthorized.aspx" />
      <error statusCode="404" responseMode="Redirect" path="~/ErrorPages/resource-not-found.aspx" />
      <error statusCode="500" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx" />
    </httpErrors>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.AnalyticsReporting.v4" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.0.847" newVersion="1.25.0.847" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>