<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DayaxeConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=db_dayaxeprod;User Id=user;Password=pass;" />
  </connectionStrings>
  <appSettings>
    <add key="DayaxeClientUrl" value="https://dayaxe.com" />
    <!-- 0.3 is mean 30%-->
    <add key="DayAxeFee" value="0.3" />
    <add key="AvgRevenuePerPass" value="0" />
    <add key="MininumItemToCalculateRevenue" value="200" />

    <add key="defaultImageUrlSendEmail" value="https://dayaxe.com" />
    <add key="defaultSendSurveyEmail" value="team@dayaxe.com" />
    <add key="sendEmailSurveyAfterMinutes" value="0" />
    <add key="cdnImageUrlDefault" value="https://cdn.dayaxe.com" />

    <add key="stripeApiKey" value="" />
    <add key="stripePublishableKey" value="" />
    <add key="StripePaymentUrl" value="https://dashboard.stripe.com/test/payments" />

    <add key="klaviyoApiKey" value="" />
    <add key="googleApiKey" value="" />

    <add key="cloudinaryApiSecret" value="Si2Q2D3dxjqgya-Rl7-lZ0cy99Q" />
    <add key="cloudinaryApiKey" value="385557456569739" />
    <add key="cloudinaryApiBaseUrl" value="https://api.cloudinary.com/v1_1/vietluyen" />

    <add key="sendgridApiKey" value="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" />
    <add key="sendgridEmailNewAccount" value="fc6d8bc9-2cc9-407d-9d08-58fb675f4a54" />
    <add key="sendgridEmailBookingConfirmation" value="cf481d67-3049-4b95-a15a-7d4ab93671ad" />
    <add key="sendgridEmailBookingconfirmationOfHotel" value="7b281ded-2910-4cc9-b248-de9e6b42d515" />
    <add key="sendgridEmailBookingAlertOfHotel" value="f8b7e99c-eff6-439d-88d0-d5fd3fdc1058" />
    <add key="sendgridEmailPostPurchaseSurvey" value="933dfb53-ab82-4b8e-a188-51f8583041b1" />
    <add key="sendgridEmailPasswordRecovery" value="8f584079-82dc-4e7a-8bfe-85f905275e3b" />
    <add key="sendgridEmailPasswordCreated" value="0a459be6-28d1-48e3-929d-82f2a3ead40a" />
    <add key="sendgridEmailRefund" value="b837577b-5291-4b7d-a339-fa60e5005c66" />
    <add key="sendgridCheckInReminder" value="3bb45302-a233-4b8d-8a9f-7610c88b707b" />
    <add key="sendgridAvailableAddOn" value="f52e5e66-ed1c-423b-afb2-cc02e413b134" />
    <add key="sendgridAvailableAddOnRedemption" value="0097ebba-6163-419e-813d-02b1e3fce2ac" />
    <add key="sendgridTicketOpenedUp" value="2d049a9d-6835-4f42-a62a-6971ca8cf337" />
    <add key="sendgridSendNotifiedSurveyHotel" value="63a7933b-be7a-4059-a6a3-cc611b9defec" />
    <add key="sendgridSendNotifiedSurvey" value="9e55468d-3592-4d5b-a91f-3a664bac91c8" />
    <add key="sendgridHotelReportMonthlySummary" value="c1ed05aa-1804-431f-baa9-765225da1f1b" />
    <add key="sendgridEmailSubscriptionConfirmation" value="78de7f6d-5dcb-44a1-89d4-0156e08518e9" />
    <add key="sendgridEmailGoldPassNoShow" value="75a21ab1-97da-4bb5-8d9b-3ed588a5786e" />
    <add key="sendgridEmailSubscriptionCancellation" value="c0bf3930-bf8e-4487-b844-38efabd9c10d" />
    <add key="sendgridEmaileGiftCardConfirmation" value="eedaa0e6-ffd8-4c95-ae1b-f8db209786bf" />
    <add key="sendgridEmaileGiftCardDelivery" value="a0bf1a3f-a31a-4778-aa92-66a7949cb898" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="false" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="1440"/>
    <machineKey validationKey="87851CF1DD5686B441BDBDC277599A7E8A98EBBBC6AD3001F8584D42A646CE6BB90D383491210C17BFC1C9F6283B3101EC784CE02345595E01C2E8BFCD97E134" decryptionKey="EB5E3E0F9407A71F59966F43036A849B5C6AE711EDDF3241A0CF90E3305D26E6" validation="SHA1" decryption="AES" />
    <customErrors defaultRedirect="~/ErrorPages/conf-error.aspx" mode="On">
      <!--bad request: use processing error template-->
      <error statusCode="400" redirect="~/ErrorPages/conf-error.aspx" />
      <!--unauthorized: unauthorized page template-->
      <error statusCode="401" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--forbidden: use unauthorized template-->
      <error statusCode="403" redirect="~/ErrorPages/unauthorized.aspx" />
      <!--not found: resource not found template-->
      <error redirect="~/ErrorPages/resource-not-found.aspx" statusCode="404" />
      <!--internal server error: processing error template-->
      <error statusCode="500" redirect="~/ErrorPages/conf-error.aspx" />
    </customErrors>
    <trust level="Full" />
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <pages enableSessionState="true" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400"/>
      <remove statusCode="401"/>
      <remove statusCode="403"/>
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="400" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx"/>
      <error statusCode="401" responseMode="Redirect" path="~/ErrorPages/unauthorized.aspx"/>
      <error statusCode="403" responseMode="Redirect" path="~/ErrorPages/unauthorized.aspx"/>
      <error statusCode="404" responseMode="Redirect" path="~/ErrorPages/resource-not-found.aspx"/>
      <error statusCode="500" responseMode="Redirect" path="~/ErrorPages/conf-error.aspx"/>
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.AnalyticsReporting.v4" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.0.847" newVersion="1.25.0.847" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>