@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Pacifico);


header, section, footer, aside, nav, main, article, figure {
 display: block;}
 
 body{ margin:0px; padding:0px; cursor:pointer;  }
 
 h1,h2,h3,h4,h5,h6{ margin:0px; padding:0px;}
 
 ul, li, { margin:0px; padding:0px; }
 
 a{ text-decoration:none !important;}

.clear{ clear:both;}

header{}

.main-div{ }

.home-class{ width:100% !important; margin:0px; padding:0px; }
.today-text a{ color:#FFF;}

.main-part{
	
	width: 400px;
	padding-top:220px;
	height: auto;
	margin: auto;
	display:block;
	text-align:center; }

.main-part h1{ font-family:Verdana, Geneva, sans-serif; font-size:25px; color:#FFF; text-align:center; display:block; padding-bottom:10px;}
.main-part h2{ font-family: 'Pacifico', cursive; font-size:40px; color:#FFF; text-align:center; padding-bottom:10px;}
.main-part h3{ font-family:Verdana, Geneva, sans-serif; font-size:20px; color:#FFF; text-align:center; padding-bottom:10px;}

home-part{
	width: 400px;
	padding-top:220px;
	height: auto;
	margin: auto;
	display:block;
	text-align:center; 
	}
.home-part h1{ font-family:Verdana, Geneva, sans-serif; font-size:50px; color:#096; text-align:center; display:block; padding-bottom:10px;}	

.tab-pare{ padding-top:50px;}

.button-1{ background:#096; color:#000;}

.hotel-text{
	width: 100%;
	margin:0 auto;
	height:auto;
	text-align:center;
	display:inline-block;
	background:#000;
	padding:5px;

}

.tab-1{ width:100%; padding:5px; margin:10px; border:1px solid #000;}

.tab-img-1 img{ width:100%; z-index:-8; }


.left-text{ float:left;}
.left-text h4{  font-family:Georgia, "Times New Roman", Times, serif; font-size:50px; color:#CCC;}
.left-text h5{  font-family:Georgia, "Times New Roman", Times, serif; font-size:30px; color:#FFF;}

.right-text{ float:right;}
.right-text  h6{ font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#FFF; text-align:center; display:block;  }
.button-info{ font-family:Verdana, Geneva, sans-serif; font-size:40px; border:none; outline:none; color:#000; background:#096;}


.tab-2{ width:100%; padding:5px; margin:10px; border:1px solid #000;}

.tab-img-2 img{ width:100%; z-index:-8;  }

.top-part{}
.top-part h4{ color:#999; font-size:40px; padding-top: 10px;}
.top-part h4 a:hover{ text-decoration:none;}

.top-part h4 span{ padding:0 0 0 10px;}

.date{ padding:10px 0px;  background:#096; text-align:center; font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#FFF; }

.slider-part{ width:100%; }

.access-part{ padding-top:15px;  }
.access-part span{ font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#999; text-align:center; display:block; padding-bottom:15px;}

.access-ul{ width:100%; margin:0 auto; text-align:center;} 
.access-ul{ list-style:none; display:inline-block;}
.access-ul li{display:inline-block;}
.access-ul li a{ font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#999; text-align:center; display:block;padding:0 15px 0 0; text-decoration:none; }
.access-ul li a:hover{ color:#000;}
.pool-ul{ width:100%; margin:0 auto; text-align:center;} 
.pool-ul ul{ list-style:none; display:inline-block;}
.pool-ul ul li{display:inline-block; }
.pool-ul ul li a{ font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#999; display:block;padding:0 15px 0 0; text-decoration:none; }
.pool-ul ul li a:hover{ color:#000;}

.access-part h5{ font-family:Verdana, Geneva, sans-serif; font-size:40px; color:#999; text-align:center; display:block;padding-top:20px;  }
.access-part h6{ font-family:Verdana, Geneva, sans-serif; font-size:30px; color:#999;  display:block; margin: 10px;     padding: 15px 0;  }

.addres{ width:100%; font-family:Verdana, Geneva, sans-serif; font-size:50px; color:#999;  display:block; margin:0 auto; padding:20px 0; border-top:1px solid #999; text-align:center;}

.book-now{ padding:10px 10px;  background:#096; text-align:center; color:#FFF; font-size:40px;}

.home-part h4{ color:#999; font-size:40px; padding-top: 10px;}
.home-part h4 a:hover{ text-decoration:none;} 

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 2px !important; 
}

.payment-text{ text-align:center;}
.payment-text fa fa-arrow-left{}

.slider-part img { width:100%;}

.nav>li>a{ padding: 25px 2px !important;}
.today-text a{ font-size: 50px;}